
.spacing{
    height: 20px;
  }

.drag-drop-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .droppable {
    width: 300px;
    height: 70px;
    border: 3px solid #aaaaaa;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }