.carousel {
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: grab;
  touch-action: pan-x;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
}

.carousel.active {
  cursor: grabbing;
}

.carousel img {
  width: 100%;
  height: auto;
}

.slide {
  min-width: 100%;
  transition: transform 0.3s ease;
}

.slide-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slide-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.slide-indicator.active {
  background-color: #973cbd;
}

.mouseElementDouble,
.mouseElementSingle {
  width: 100%;
  height: 70px;
  border: 3px solid #aaaaaa;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
  font-size: x-large;
}

.pixel-value-button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #973cbd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pixel-value-display {
  position: fixed;
  background-color: #973cbd;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  display: none;
}

.dimensions-display {
  padding: 10px;
  border: 3px solid #aaaaaa;
  display: none;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.dimensions-display p {
  margin: 0;
}